- case params.values_at :controller, :action

- when ['users', 'index']
  - breadcrumb :users

- when ['items', 'new']
  - breadcrumb :items_new

= breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "